
// Neutrals

// Dark neutrals
$N900 = hsl(218, 25%, 15%)
$N800 = hsl(218, 25%, 20%)
$N700 = hsl(218, 25%, 25%)
$N600 = hsl(218, 25%, 30%)

// Mid-neutrals
$N500 = hsl(218, 20%, 35%)
$N400 = hsl(218, 20%, 40%)
$N300 = hsl(218, 20%, 45%)
$N200 = hsl(218, 20%, 50%)
$N100 = hsl(218, 20%, 55%)

// Light neutrals
$N90  = hsl(218, 15%, 60%)
$N80  = hsl(218, 15%, 65%)
$N70  = hsl(218, 15%, 70%)
$N60  = hsl(218, 15%, 75%)
$N50  = hsl(218, 15%, 80%)
$N40  = hsl(218, 15%, 85%)
$N30  = hsl(218, 15%, 90%)
$N20  = hsl(218, 15%, 95%)
$N10  = hsl(218, 15%, 98%)
$N0   = hsl(0,   0%, 100%)

// Red
$R500 = hsl(10, 100%, 35%)
$R400 = hsl(10, 100%, 45%)
$R300 = hsl(10, 100%, 55%)
$R200 = hsl(10, 100%, 65%)
$R100 = hsl(10, 100%, 75%)
$R75  = hsl(10, 100%, 85%)
$R50  = hsl(10, 100%, 95%)

// Yellow
$Y500 = hsl(45, 100%, 35%)
$Y400 = hsl(45, 100%, 45%)
$Y300 = hsl(45, 100%, 55%)
$Y200 = hsl(45, 100%, 65%)
$Y100 = hsl(45, 100%, 75%)
$Y75  = hsl(45, 100%, 85%)
$Y50  = hsl(45, 100%, 95%)

// Green
$G500 = hsl(110, 100%, 35%)
$G400 = hsl(110, 100%, 45%)
$G300 = hsl(110, 100%, 55%)
$G200 = hsl(110, 100%, 65%)
$G100 = hsl(110, 100%, 75%)
$G75  = hsl(110, 100%, 85%)
$G50  = hsl(110, 100%, 95%)

// Blue
$B500 = hsl(220, 100%, 35%)
$B400 = hsl(220, 100%, 45%)
$B300 = hsl(220, 100%, 55%)
$B200 = hsl(220, 100%, 65%)
$B100 = hsl(220, 100%, 75%)
$B75  = hsl(220, 100%, 85%)
$B50  = hsl(220, 100%, 95%)

// Teal
$T500 = hsl(185, 100%, 35%)
$T400 = hsl(185, 100%, 45%)
$T300 = hsl(185, 100%, 55%)
$T200 = hsl(185, 100%, 65%)
$T100 = hsl(185, 100%, 75%)
$T75  = hsl(185, 100%, 85%)
$T50  = hsl(185, 100%, 95%)

// Purple
$P500 = hsl(275, 100%, 35%)
$P400 = hsl(275, 100%, 45%)
$P300 = hsl(275, 100%, 55%)
$P200 = hsl(275, 100%, 65%)
$P100 = hsl(275, 100%, 75%)
$P75  = hsl(275, 100%, 85%)
$P50  = hsl(275, 100%, 95%)

// Tokens
// Core
$background           = $N900 // Default page background
$interactive-01       = $T300 // Primary interactive color;Primary buttons
$interactive-02       = $N300 // Secondary interactive color;Secondary button
$interactive-03       = $N30  // 4.5:1 AA contrast;Tertiary button
$interactive-04       = $T200 // 3:1 AA contrast;Selected elements;Active elements;Accent icons
$danger-01            = $R400 // Danger button background;3:1 AA contrast
$danger-02            = $R200 // Danger button variant;Text;Icon;Border
$ui-01                = $N700 // Container background on $ui-background;Secondary page background
$ui-02                = $N500 // Container background on $ui-01;`Light` variant background
$ui-03                = $N300 // Subtle border;Tertiary background
$ui-04                = $N90  // 3:1 aa element contrast;Medium contrast border
$ui-05                = $N20  // 4.5:1 aa element contrast;High contrast border;Emphasis elements
$button-separator     = $N800 // 3:1 aa element contrast;Fluid button separator
$decorative-01        = $N300 // “Light” variant elements
$text-01              = $N20  // Primary text;Body copy;Headers;Hover text color for $text-02
$text-02              = $N40  // Secondary text;Input labels
$text-03              = $N60  // Placeholder text
$text-04              = $N0   // Text on interactive colors
$text-05              = $N90  // Tertiary text;Help text
$text-error           = $R75  // Error message text
$link-01              = $B100 // Primary links;Ghost button
$link-02              = $B75  // Secondary link color for lower contrast backgrounds
$inverse-link         = $B300 // Links on $inverse-02 backgrounds
$icon-01              = $N20  // Primary icons
$icon-02              = $N40  // Secondary icons
$icon-03              = $N0   // Icons on interactive colors;Icons on non-ui colors
$field-01             = $N700 // Default input fields;Fields on $ui-backgrounds
$field-02             = $N300 // “Light” variant input fields;Fields on $ui-01 backgrounds
$inverse-01           = $N900 // Inverse text color;Inverse icon color
$inverse-02           = $N20  // High contrast backgrounds;High contrast elements
$support-01           = $R200 // Error
$support-02           = $G200 // Success
$support-03           = $Y200 // Warning
$support-04           = $B200 // Information
$inverse-support-01   = $R400 // Danger in high contrast moments
$inverse-support-02   = $G400 // Success in high contrast moments
$inverse-support-03   = $Y400 // Warning in high contrast moments
$inverse-support-04   = $B400 // Information in high contrast moments
$overlay-01 = rgba($N40, 0.7) // Background overlay

// Interactive
$focus                = $N0   // Focus border;Focus underline
$inverse-focus-ui     = $T300 // Focus on high contrast moments
$hover-primary        = $T300 // $interactive-01 hover
$hover-primary-text   = $B75  // $interactive-01 text hover
$hover-secondary      = $N60  // $interactive-02 hover
$hover-tertiary       = $N20  // $interactive-03 hover;$inverse-01 hover
$hover-ui             = $N700 // $ui-01 hover;$ui-02 hover;Transparent background hover
$hover-light-ui       = $N300 // “Light” variant hover
$hover-selected-ui    = $N300 // Selected row hover
$hover-danger         = $R400 // Danger hover;$support-01 hover
$hover-row            = $N700 // Row hover
$inverse-hover-ui     = $N20  // Hover for $inverse-02
$active-primary       = $B400 // $interactive-01 active
$active-secondary     = $N700 // $interactive-02 active;$inverse-01 active
$active-tertiary      = $N40  // $interactive-03 active
$active-ui            = $N60  // $ui-01 active;$ui-02 active
$active-light-ui      = $N90  // “Light” variant active
$active-danger        = $R500 // Danger active;$support-01 active
$selected-ui          = $N500 // Selected UI elements
$selected-light-ui    = $N300 // “Light” variant selected
$highlight            = $B500 // $interactive-01 highlight
$skeleton-01          = $N700 // Skeleton state of graphics
$skeleton-02          = $N500 // Skeleton state of texts
$visited-link         = $P100 // Visited links
$disabled-01          = $N700 // Disabled fields;Disabled backgrounds;Disabled border
$disabled-02          = $N500 // Disabled elements on $disabled-01;Disabled label;Disabled text on $disabled-01;Disabled icons;Disabled border
$disabled-03          = $N300 // Disabled text on $disabled-02;Disabled icons on $disabled-02