// REM (Using font-size: 62.5%)
$spacing-01-rem = 0.2rem
$spacing-02-rem = 0.4rem
$spacing-03-rem = 0.8rem
$spacing-04-rem = 1.2rem
$spacing-05-rem = 1.6rem
$spacing-06-rem = 2.4rem
$spacing-07-rem = 3.2rem
$spacing-08-rem = 4.0rem
$spacing-09-rem = 4.8rem
$spacing-10-rem = 6.4rem
$spacing-11-rem = 8.0rem
$spacing-12-rem = 9.6rem
$spacing-13-rem = 16.0rem

// PX
$spacing-01-px  = 2px
$spacing-02-px  = 4px
$spacing-03-px  = 8px
$spacing-04-px  = 12px
$spacing-05-px  = 16px
$spacing-06-px  = 24px
$spacing-07-px  = 32px
$spacing-08-px  = 40px
$spacing-09-px  = 48px
$spacing-10-px  = 64px
$spacing-11-px  = 80px
$spacing-12-px  = 96px
$spacing-13-px  = 160px
