@import 'global/*'
@import 'utils/*'
@import 'header'

html
  color: $text-01
  font-family: "JetBrains"
  font-size: 62.5%

body
  margin: 0
  padding: 0
  box-sizing: border-box
  background-color: $background
  font-size: $spacing-05-rem
