@import 'global/*'
@import 'utils/*'

@import 'templates/404.css'

@import 'components/header'
@import 'components/card'

html
  color: $text-01
  font-family: "JetBrains"
  font-size: 62.5%

body
  margin: 0
  padding: 0
  box-sizing: border-box
  font-size: $spacing-05-rem
  background-color: #394760;
  opacity: 1;
  background-image:  linear-gradient(30deg, $N900 12%, transparent 12.5%, transparent 87%, $N900 87.5%, $N900), linear-gradient(150deg, $N900 12%, transparent 12.5%, transparent 87%, $N900 87.5%, $N900), linear-gradient(30deg, $N900 12%, transparent 12.5%, transparent 87%, $N900 87.5%, $N900), linear-gradient(150deg, $N900 12%, transparent 12.5%, transparent 87%, $N900 87.5%, $N900), linear-gradient(60deg, rgba($N900, .7) 25%, transparent 25.5%, transparent 75%, rgba($N900, .7) 75%, rgba($N900, .7)), linear-gradient(60deg, rgba($N900, .7) 25%, transparent 25.5%, transparent 75%, rgba($N900, .7) 75%, rgba($N900, .7));
  background-size: 42px 74px;
  background-position: 0 0, 0 0, 21px 37px, 21px 37px, 0 0, 21px 37px;

#content
  max-width: 1440px
  margin: auto
  height: 100vh
  justify-content: baseline
  padding: $spacing-05-rem
  background-color: $N800
